<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="app.name" value="quartz-plus-scheduler-center"/>

    <!-- 控制台日志 -->
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %-20([%thread]) %-5level %logger %caller{1} - %green(%msg) %n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <springProfile name="default">
        <root level="INFO">
            <appender-ref ref="stdout"/>
        </root>
    </springProfile>

</configuration>